<h1 class="ms-4 mb-5">Stupid Coaching</h1>
<div class="border-start border-5 ms-4 mb-5">
<h1><%= @user_ask%></h1>
<h1> -You</h1>
</div>
<div class="bg-success border-start border-5 ms-4 mb-5 col-12 col-lg-6" style="--bs-bg-opacity: .5;">
<h1><%= @answer%></h1>
<h1>-Your Coach</h1>
</div>
<div class="text-center mb-5">
<%= link_to "Ask a new question", ask_path %>
</div>
